---
import SubscriptionForm from '@/components/SubscriptionForm'
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='Subscribe for updates'>
	<section class='max-w-xl mx-auto'>
		<h1 class='mb-4 text-3xl'>Subscribe to be told about my ramblings...</h1>

		<SubscriptionForm />
	</section>
</BaseLayout>
