backend:
  name: git-gateway
  # name: github
  branch: main
  repo: JeremyPittard/decap-astro-starter

media_folder: "src/assets/images" # Media files will be stored in the repo under static/images/uploads
public_folder: "../../assets/images" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: "post"  # Adjust the name to match your content type (e.g., blog)
    label: "Blog Post"  # User-friendly label for the collection
    folder: "src/content/blog"  # Path to the folder containing your content
    create: true  # Allow creating new posts
    slug: "{{slug}}"  # Filename template for posts
    editor: 
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string", required: true }  # Title field
      - { label: "Hero Image", name: "heroImage", widget: "image", required: true }  # Hero image
      - { label: "Category", name: "category", widget: "string", required: true, }  # Category dropdown (replace [...] with actual options)
      - { label: "Description", name: "description", widget: "string", required: true }  # Description
      - { label: "Publication Date", name: "pubDate", widget: "datetime", required: true }  # Publication date
      - { label: "Tags", name: "tags", widget: "list", list: true }  # Tags list
      - { label: "Body", name: "body", widget: "markdown", required: true }  # Rich text body
  
  - name: "site_settings"
    label: "Site Settings"
    folder: "src/content/site-settings"
    create: true
    editor: 
      preview: false
    delete: false
    slug: "{{slug}}"
    identifier_field: title
    fields:
      - { label: "settings", name: "title", widget: "hidden", required: true, default: "site setttings", value: "settings" }
      - { label: "Site Title", name: "site_title", widget: "string", required: true, hint: 'The name that will appear at top of the site' }
      - { label: "Description", name: "description", widget: "string", required: true, hint: 'The description that will appear in the meta tags and social media' }
      - {label: "Copyright by...", name: "copyright", hint: 'the copywritght message in the footer'}
      - {label: "Site Owner", name: "site_owner", required: true, widget: "string", hint: "the name of the owner of the site"}
      - {label: "Post Share Message", name: 'share_message', required: false, hint: "text displayed when prompting users to share", widget: "string", default: "Share this post"}
      - {label: "Enlarge first post on home page", name: 'firstBig', required: false, hint: "enlarges the first post shown on home page", widget: "boolean"}
      - { label: "Alert Banner", name: "alertBanner", widget: "string", required: false, hint: 'Text to display as a banner across the top of your site' }
      - { label: "Footer Banner", name: "footerBanner", widget: "string", required: false, hint: 'Text to display as a banner above your footer' }
      - {label: "Google Analytics Identifier", name: "ga_id", widget: "string", required: false, }

      - label: "Social Media"
        name: "socialMedia"
        widget: "object"
        fields:
          - {label: "Facebook", name: "facebook", widget: "string", required: false}
          - {label: "Twitter", name: "twitter", widget: "string", required: false}
          - {label: "LinkedIn", name: "linkedin", widget: "string", required: false}
          - {label: "Tiktok", name: "tiktok", widget: "string", required: false}
          - {label: "Github", name: "github", widget: "string", required: false}
          - {label: "noplace", name: "noplace", widget: "string", required: false}
          - {label: "other", name: "other", widget: "string", required: false}